beautifulsoup4==4.8.1
certifi==2019.9.11
chardet==3.0.4
Click==7.0
Flask==1.1.1
Flask-Script==2.0.6
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
Pillow==6.2.1
requests==2.22.0
soupsieve==1.9.4
urllib3==1.25.6
Werkzeug==0.16.0
